# coding: utf-8

"""
    LUSID API

    FINBOURNE Technology  # noqa: E501

    Contact: info@finbourne.com
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""


import re  # noqa: F401
import io
import warnings

from pydantic.v1 import validate_arguments, ValidationError
from typing import overload, Optional, Union, Awaitable

from datetime import datetime
from pydantic.v1 import Field, StrictInt, StrictStr
from typing import List, Optional
from typing_extensions import Annotated
from lusid.models.currency_group_response import CurrencyGroupResponse
from lusid.models.deleted_entity_response import DeletedEntityResponse
from lusid.models.paged_resource_list_of_currency_group_response import PagedResourceListOfCurrencyGroupResponse
from lusid.models.upsert_currency_group_request import UpsertCurrencyGroupRequest

from lusid.api_client import ApiClient
from lusid.api_response import ApiResponse
from lusid.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)
from lusid.extensions.configuration_options import ConfigurationOptions

# ensure templated type usages are imported
from pydantic.v1 import Field, StrictStr
from typing import Optional
from typing_extensions import Annotated

class CurrencyGroupsApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client


    @overload
    async def delete_currency_group(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group to delete.")], **kwargs) -> DeletedEntityResponse:  # noqa: E501
        ...

    @overload
    def delete_currency_group(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group to delete.")], async_req: Optional[bool]=True, **kwargs) -> DeletedEntityResponse:  # noqa: E501
        ...

    @validate_arguments
    def delete_currency_group(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group to delete.")], async_req: Optional[bool]=None, **kwargs) -> Union[DeletedEntityResponse, Awaitable[DeletedEntityResponse]]:  # noqa: E501
        """[EXPERIMENTAL] DeleteCurrencyGroup: Delete a currency group.  # noqa: E501

        Delete the currency group with the given code. The group's currencies are freed to be claimed  by other currency groups.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.delete_currency_group(code, async_req=True)
        >>> result = thread.get()

        :param code: The code of the currency group to delete. (required)
        :type code: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: DeletedEntityResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the delete_currency_group_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        if async_req is not None:
            kwargs['async_req'] = async_req
        return self.delete_currency_group_with_http_info(code, **kwargs)  # noqa: E501

    @validate_arguments
    def delete_currency_group_with_http_info(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group to delete.")], **kwargs) -> ApiResponse:  # noqa: E501
        """[EXPERIMENTAL] DeleteCurrencyGroup: Delete a currency group.  # noqa: E501

        Delete the currency group with the given code. The group's currencies are freed to be claimed  by other currency groups.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.delete_currency_group_with_http_info(code, async_req=True)
        >>> result = thread.get()

        :param code: The code of the currency group to delete. (required)
        :type code: str
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(DeletedEntityResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'code'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method delete_currency_group" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['code']:
            _path_params['code'] = _params['code']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "DeletedEntityResponse",
            '400': "LusidValidationProblemDetails",
        }

        return self.api_client.call_api(
            '/api/currencies/groups/{code}', 'DELETE',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))


    @overload
    async def get_currency_group(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group.")], as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to retrieve the currency group. Defaults to returning              the latest version if not specified.")] = None, **kwargs) -> CurrencyGroupResponse:  # noqa: E501
        ...

    @overload
    def get_currency_group(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group.")], as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to retrieve the currency group. Defaults to returning              the latest version if not specified.")] = None, async_req: Optional[bool]=True, **kwargs) -> CurrencyGroupResponse:  # noqa: E501
        ...

    @validate_arguments
    def get_currency_group(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group.")], as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to retrieve the currency group. Defaults to returning              the latest version if not specified.")] = None, async_req: Optional[bool]=None, **kwargs) -> Union[CurrencyGroupResponse, Awaitable[CurrencyGroupResponse]]:  # noqa: E501
        """[EXPERIMENTAL] GetCurrencyGroup: Get a currency group.  # noqa: E501

        Get the currency group with the given code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_currency_group(code, as_at, async_req=True)
        >>> result = thread.get()

        :param code: The code of the currency group. (required)
        :type code: str
        :param as_at: The asAt datetime at which to retrieve the currency group. Defaults to returning              the latest version if not specified.
        :type as_at: datetime
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: CurrencyGroupResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_currency_group_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        if async_req is not None:
            kwargs['async_req'] = async_req
        return self.get_currency_group_with_http_info(code, as_at, **kwargs)  # noqa: E501

    @validate_arguments
    def get_currency_group_with_http_info(self, code : Annotated[StrictStr, Field(..., description="The code of the currency group.")], as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to retrieve the currency group. Defaults to returning              the latest version if not specified.")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """[EXPERIMENTAL] GetCurrencyGroup: Get a currency group.  # noqa: E501

        Get the currency group with the given code.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_currency_group_with_http_info(code, as_at, async_req=True)
        >>> result = thread.get()

        :param code: The code of the currency group. (required)
        :type code: str
        :param as_at: The asAt datetime at which to retrieve the currency group. Defaults to returning              the latest version if not specified.
        :type as_at: datetime
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(CurrencyGroupResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'code',
            'as_at'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_currency_group" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['code']:
            _path_params['code'] = _params['code']


        # process the query parameters
        _query_params = []
        if _params.get('as_at') is not None:  # noqa: E501
            if isinstance(_params['as_at'], datetime):
                _query_params.append(('asAt', _params['as_at'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('asAt', _params['as_at']))

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "CurrencyGroupResponse",
            '400': "LusidValidationProblemDetails",
        }

        return self.api_client.call_api(
            '/api/currencies/groups/{code}', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))


    @overload
    async def list_currency_groups(self, as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to list the currency groups. Defaults to returning              the latest version of each currency group if not specified.")] = None, page : Annotated[Optional[StrictStr], Field( description="The pagination token to use to continue listing currency groups from a previous              call to list currency groups. This value is returned from the previous call. If a pagination token              is provided the filter, sortBy and asAt fields must not have changed since the original request.")] = None, limit : Annotated[Optional[StrictInt], Field(description="When paginating, limit the results to this number.")] = None, filter : Annotated[Optional[StrictStr], Field( description="Expression to filter the results. Filterable fields are the group's code,              displayName and majorUnitCurrency. For example, \"majorUnitCurrency eq 'GBP'\".")] = None, sort_by : Annotated[Optional[List[StrictStr]], Field(description="A list of field names to sort by, each prefixed with \"+\" for ascending or              \"-\" for descending. Sortable fields are the group's code, displayName and majorUnitCurrency.")] = None, **kwargs) -> PagedResourceListOfCurrencyGroupResponse:  # noqa: E501
        ...

    @overload
    def list_currency_groups(self, as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to list the currency groups. Defaults to returning              the latest version of each currency group if not specified.")] = None, page : Annotated[Optional[StrictStr], Field( description="The pagination token to use to continue listing currency groups from a previous              call to list currency groups. This value is returned from the previous call. If a pagination token              is provided the filter, sortBy and asAt fields must not have changed since the original request.")] = None, limit : Annotated[Optional[StrictInt], Field(description="When paginating, limit the results to this number.")] = None, filter : Annotated[Optional[StrictStr], Field( description="Expression to filter the results. Filterable fields are the group's code,              displayName and majorUnitCurrency. For example, \"majorUnitCurrency eq 'GBP'\".")] = None, sort_by : Annotated[Optional[List[StrictStr]], Field(description="A list of field names to sort by, each prefixed with \"+\" for ascending or              \"-\" for descending. Sortable fields are the group's code, displayName and majorUnitCurrency.")] = None, async_req: Optional[bool]=True, **kwargs) -> PagedResourceListOfCurrencyGroupResponse:  # noqa: E501
        ...

    @validate_arguments
    def list_currency_groups(self, as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to list the currency groups. Defaults to returning              the latest version of each currency group if not specified.")] = None, page : Annotated[Optional[StrictStr], Field( description="The pagination token to use to continue listing currency groups from a previous              call to list currency groups. This value is returned from the previous call. If a pagination token              is provided the filter, sortBy and asAt fields must not have changed since the original request.")] = None, limit : Annotated[Optional[StrictInt], Field(description="When paginating, limit the results to this number.")] = None, filter : Annotated[Optional[StrictStr], Field( description="Expression to filter the results. Filterable fields are the group's code,              displayName and majorUnitCurrency. For example, \"majorUnitCurrency eq 'GBP'\".")] = None, sort_by : Annotated[Optional[List[StrictStr]], Field(description="A list of field names to sort by, each prefixed with \"+\" for ascending or              \"-\" for descending. Sortable fields are the group's code, displayName and majorUnitCurrency.")] = None, async_req: Optional[bool]=None, **kwargs) -> Union[PagedResourceListOfCurrencyGroupResponse, Awaitable[PagedResourceListOfCurrencyGroupResponse]]:  # noqa: E501
        """[EXPERIMENTAL] ListCurrencyGroups: List currency groups.  # noqa: E501

        List the currency groups defined in the tenant that the caller is entitled to read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_currency_groups(as_at, page, limit, filter, sort_by, async_req=True)
        >>> result = thread.get()

        :param as_at: The asAt datetime at which to list the currency groups. Defaults to returning              the latest version of each currency group if not specified.
        :type as_at: datetime
        :param page: The pagination token to use to continue listing currency groups from a previous              call to list currency groups. This value is returned from the previous call. If a pagination token              is provided the filter, sortBy and asAt fields must not have changed since the original request.
        :type page: str
        :param limit: When paginating, limit the results to this number.
        :type limit: int
        :param filter: Expression to filter the results. Filterable fields are the group's code,              displayName and majorUnitCurrency. For example, \"majorUnitCurrency eq 'GBP'\".
        :type filter: str
        :param sort_by: A list of field names to sort by, each prefixed with \"+\" for ascending or              \"-\" for descending. Sortable fields are the group's code, displayName and majorUnitCurrency.
        :type sort_by: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: PagedResourceListOfCurrencyGroupResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the list_currency_groups_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        if async_req is not None:
            kwargs['async_req'] = async_req
        return self.list_currency_groups_with_http_info(as_at, page, limit, filter, sort_by, **kwargs)  # noqa: E501

    @validate_arguments
    def list_currency_groups_with_http_info(self, as_at : Annotated[Optional[datetime], Field(description="The asAt datetime at which to list the currency groups. Defaults to returning              the latest version of each currency group if not specified.")] = None, page : Annotated[Optional[StrictStr], Field( description="The pagination token to use to continue listing currency groups from a previous              call to list currency groups. This value is returned from the previous call. If a pagination token              is provided the filter, sortBy and asAt fields must not have changed since the original request.")] = None, limit : Annotated[Optional[StrictInt], Field(description="When paginating, limit the results to this number.")] = None, filter : Annotated[Optional[StrictStr], Field( description="Expression to filter the results. Filterable fields are the group's code,              displayName and majorUnitCurrency. For example, \"majorUnitCurrency eq 'GBP'\".")] = None, sort_by : Annotated[Optional[List[StrictStr]], Field(description="A list of field names to sort by, each prefixed with \"+\" for ascending or              \"-\" for descending. Sortable fields are the group's code, displayName and majorUnitCurrency.")] = None, **kwargs) -> ApiResponse:  # noqa: E501
        """[EXPERIMENTAL] ListCurrencyGroups: List currency groups.  # noqa: E501

        List the currency groups defined in the tenant that the caller is entitled to read.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.list_currency_groups_with_http_info(as_at, page, limit, filter, sort_by, async_req=True)
        >>> result = thread.get()

        :param as_at: The asAt datetime at which to list the currency groups. Defaults to returning              the latest version of each currency group if not specified.
        :type as_at: datetime
        :param page: The pagination token to use to continue listing currency groups from a previous              call to list currency groups. This value is returned from the previous call. If a pagination token              is provided the filter, sortBy and asAt fields must not have changed since the original request.
        :type page: str
        :param limit: When paginating, limit the results to this number.
        :type limit: int
        :param filter: Expression to filter the results. Filterable fields are the group's code,              displayName and majorUnitCurrency. For example, \"majorUnitCurrency eq 'GBP'\".
        :type filter: str
        :param sort_by: A list of field names to sort by, each prefixed with \"+\" for ascending or              \"-\" for descending. Sortable fields are the group's code, displayName and majorUnitCurrency.
        :type sort_by: List[str]
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(PagedResourceListOfCurrencyGroupResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'as_at',
            'page',
            'limit',
            'filter',
            'sort_by'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method list_currency_groups" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        if _params.get('as_at') is not None:  # noqa: E501
            if isinstance(_params['as_at'], datetime):
                _query_params.append(('asAt', _params['as_at'].strftime(self.api_client.configuration.datetime_format)))
            else:
                _query_params.append(('asAt', _params['as_at']))

        if _params.get('page') is not None:  # noqa: E501
            _query_params.append(('page', _params['page']))

        if _params.get('limit') is not None:  # noqa: E501
            _query_params.append(('limit', _params['limit']))

        if _params.get('filter') is not None:  # noqa: E501
            _query_params.append(('filter', _params['filter']))

        if _params.get('sort_by') is not None:  # noqa: E501
            _query_params.append(('sortBy', _params['sort_by']))
            _collection_formats['sortBy'] = 'multi'

        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "PagedResourceListOfCurrencyGroupResponse",
            '400': "LusidValidationProblemDetails",
        }

        return self.api_client.call_api(
            '/api/currencies/groups', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))


    @overload
    async def upsert_currency_group(self, upsert_currency_group_request : Annotated[UpsertCurrencyGroupRequest, Field(description="The currency group to upsert.")], **kwargs) -> CurrencyGroupResponse:  # noqa: E501
        ...

    @overload
    def upsert_currency_group(self, upsert_currency_group_request : Annotated[UpsertCurrencyGroupRequest, Field(description="The currency group to upsert.")], async_req: Optional[bool]=True, **kwargs) -> CurrencyGroupResponse:  # noqa: E501
        ...

    @validate_arguments
    def upsert_currency_group(self, upsert_currency_group_request : Annotated[UpsertCurrencyGroupRequest, Field(description="The currency group to upsert.")], async_req: Optional[bool]=None, **kwargs) -> Union[CurrencyGroupResponse, Awaitable[CurrencyGroupResponse]]:  # noqa: E501
        """[EXPERIMENTAL] UpsertCurrencyGroup: Upsert a currency group.  # noqa: E501

        Create or update a currency group. If a currency group with the same code already exists it is replaced.  A currency may belong to at most one currency group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.upsert_currency_group(upsert_currency_group_request, async_req=True)
        >>> result = thread.get()

        :param upsert_currency_group_request: The currency group to upsert. (required)
        :type upsert_currency_group_request: UpsertCurrencyGroupRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: CurrencyGroupResponse
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the upsert_currency_group_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        if async_req is not None:
            kwargs['async_req'] = async_req
        return self.upsert_currency_group_with_http_info(upsert_currency_group_request, **kwargs)  # noqa: E501

    @validate_arguments
    def upsert_currency_group_with_http_info(self, upsert_currency_group_request : Annotated[UpsertCurrencyGroupRequest, Field(description="The currency group to upsert.")], **kwargs) -> ApiResponse:  # noqa: E501
        """[EXPERIMENTAL] UpsertCurrencyGroup: Upsert a currency group.  # noqa: E501

        Create or update a currency group. If a currency group with the same code already exists it is replaced.  A currency may belong to at most one currency group.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.upsert_currency_group_with_http_info(upsert_currency_group_request, async_req=True)
        >>> result = thread.get()

        :param upsert_currency_group_request: The currency group to upsert. (required)
        :type upsert_currency_group_request: UpsertCurrencyGroupRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: Timeout setting. Do not use - use the opts parameter instead
        :param opts: Configuration options for this request
        :type opts: ConfigurationOptions, optional
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(CurrencyGroupResponse, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'upsert_currency_group_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers',
                'opts'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method upsert_currency_group" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['upsert_currency_group_request'] is not None:
            _body_params = _params['upsert_currency_group_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['text/plain', 'application/json', 'text/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json-patch+json', 'application/json', 'text/json', 'application/*+json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['oauth2']  # noqa: E501

        _response_types_map = {
            '200': "CurrencyGroupResponse",
            '400': "LusidValidationProblemDetails",
        }

        return self.api_client.call_api(
            '/api/currencies/groups', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            opts=_params.get('opts'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
